* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 70vh;
}

h1 {
    color: #206EEC;
}

.main-container {
    display: flex;
    gap: 2vmin;
}

img {
    height: 50vmin;
}

p {
    text-align: center;
    color: #206EEC;
}